
html {
    font-size: 1em;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}


::selection {
    background: #b3d4fc;
    text-shadow: none;
}


fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
.wrapper {
    width: 650px;
    height: 500px;
    overflow: hidden;
}

/* Loading Panel. */
.loading-panel {
    width: 100%;
    height: 100%;
}
.loading-panel .loading-text {
    text-align: center;
}
.loading-panel .loading-spinner {
    position: absolute;
    top: 45%;
    left: 46%;
    width: 7%;
    height: 7%;
    fill: rgba(255, 255, 255, 1);
}
::-webkit-scrollbar {
    width: 12px;
    margin-right: 5px
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,0.4);
}
.title-bar span.tooltip { 
    z-index: 20;
}
.sync {
    position: absolute;
    bottom: 1em;
    right: 1em;
    height: 50px;
}
.sync progress {
    width: 200px;
    height: 14px;
    -webkit-appearance: none;
    border: none;
    float: right;
}
.sync .caption {
    float: right;
    clear: right;
    font-size: 0.8em;
}
.balance-panel .staking {
    text-transform: uppercase;
    padding: 0.3em;
    position: absolute;
    bottom: -1.9em;
    left: 0.5em;
    font-size: 1em;
    text-indent: 1em;
    line-height: 1em;
    border-radius: 2px;
    -webkit-user-select: text;
}
@-webkit-keyframes lines {
    0% {background-position: 0px 0px, 0 0, 0 0}
    100% {background-position: -100px 0px, 0 0, 0 0}
}
.address-book-container a.button-ions {
    font-size: 0.7em;
}
.address-book-container a.ions-on {
    color: rgb(107, 215, 244);
}
.address-book-container a.ions-off {
    color: rgb(193, 193, 193);
}
.status {
    position: absolute;
    right: 1em;
    bottom: 0.5em;
}
.settings-panel input {
    height: 45px;
}
.settings-panel input[type="number"] {
    width: 250px;
}
.settings-panel input[type="password"] {
    width: 140px;
}