/* Fonts. */
@font-face {
    font-family: "Open Sans";
    font-weight: 300;
    src: url("../../fonts/OpenSans-Light.ttf");
}
@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    src: url("../../fonts/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "Open Sans";
    font-weight: 700;
    src: url("../../fonts/OpenSans-Bold.ttf");
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    -webkit-user-select: none;
    cursor: default;
    background:#1ca7ea;
}
input[type="text"],
input[type="number"],
input[type="password"] {
    border: 1px solid rgba(255,255,255,0.5);
    color: #222222;
    padding: 0 10px;
    outline: 0;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
}
input:focus {
    box-shadow: 0 0 10px #222222;
}
/* Random mix-ins. */
.selectable {
    -webkit-user-select: text;
    cursor: text;
}
h1.tab-title {
    font-size: 1.3em;
    font-weight: 700;
}
h2.tab-description {
    font-size: 1em;
    font-weight: 300;
}
.blurred {
    -webkit-transform: scale(0.93);
    -webkit-transition: all 0.2s ease-in-out;
    box-shadow: 0 0 0px 35px rgba(255,255,255, 0.6), 
    0 0 20px #000;
}
.hide {
    display: none;
}

/* Title bar. */
.title-bar {
    background: transparent;
}
.title-bar .title-bar-buttons {
    position: absolute;
    right: 0.7em;
    top: 1.5em;
}
.title-bar .title-bar-buttons a {
    color: #203B58;
    margin-right: 0.2em;
    font-size: 1em;
    -webkit-app-region: no-drag;
    -webkit-transition: opacity 0.2s ease-in-out;
}
.title-bar .title-bar-buttons a.lit,
.title-bar .title-bar-buttons a.lit:hover {
    color: rgb(255, 255, 255);
}
.title-bar .title-bar-buttons a:hover {
    color: #1ca7ea;
    cursor: pointer;
}
.title-bar span.tooltip {
    position: absolute;
    right: 0.35em;
    width: 100px;
    top: 3em;
    color: #fff;
    font-size: 0.8em;
    text-align: center;
    background-color: #203B58;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.41);
    padding: 3px;
    border-radius: 2px;
    -webkit-transition: all 0.2s ease-in-out;
    display: inline;
    opacity: 0;
}
.title-bar span.tooltip:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(80, 80, 80, 0);
    border-bottom-color: #203B58;
    border-width: 6px;
    margin-left: -6px;
}
.title-bar-buttons span.second {
    right: 2.2em;
}
.title-bar span.third {
    right: 3.9em;
}
.title-bar-buttons a:hover > span.tooltip {
    opacity: 1;
}
/* The Modal Pop-up. */
.modal-popup-bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 650px;
    height: 500px;
    background-color: black;
    opacity: 0.3;
}
.modal-popup {
    background-image: -webkit-gradient( linear, left top, left bottom, 
    color-stop(0, rgb(236, 236, 236)), 
    color-stop(1, rgb(191, 191, 191)) );
    display: none;
    position: absolute;
    top: 20%;
    left: 24%;
    padding: 15px 25px;
    width: 300px;
    color: #555;
    border-radius: 2px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    transition: all 0.15s ease-in-out;
    overflow-wrap: break-word;
}
.modal-popup p {
    text-align: center;
    font-size: 1.5em;
    font-weight: 300;
    margin: 0.6em 0;
}
span.modal-title {
    color: #222;
    display: inherit;
    text-align: center;
    font-weight: 700;
} 
.modal-popup label {
    display: block;
    margin-bottom: 7px;
}
.modal-popup input {
    background: #fff;
    width: 100%;
    margin: 0.5em 0;
    padding: 0.5em;
    box-sizing: border-box;
    outline: 0;
    border-radius: 2px;
    border: 1px solid #B1B1B1;
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.69), 
                inset 0px 1px 1px rgba(0, 0, 0, 0.21);
    color: #666;
    -webkit-transition: all 0.2s ease-in-out;
}
.modal-popup input:focus {
    box-shadow: inset 0 1px 7px rgba(0, 0, 0, 0.4),
                0 1px 1px rgba(255, 255, 255, 0.6);
    border-color: rgba(0, 0, 0, 0.4);
}
.modal-popup .buttons {
    margin-top: 10px;
}
.modal-popup .buttons {
    background-color: #7ecbf7;
    width: 100px;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 2em;
}
.modal-popup a.button {
    color: #fff;
    padding: 0 0.36em;
    font-size: 1.6em;
    -webkit-transition: all 0.2s ease-in-out;
}
.modal-popup a.button i {
    position: relative;
    top: 2px;
}
.modal-popup .button-cancel {
    margin-left: 11px;
}
.modal-popup a.button:hover {
    border-radius: 30px;
    box-shadow: inset 0 2px 50px rgba(28,167,234, 0.94);
}

/* Loading Panel. */
.loading-panel {
    width: 100%;
    height: 100%;
}
.loading-panel .loading-text {
    text-align: center;
}
.loading-panel .loading-spinner {
    position: absolute;
    top: 45%;
    left: 46%;
    width: 7%;
    height: 7%;
    fill: rgba(255, 255, 255, 1);
}

/* Payment Panel. */
.payment-panel {
    margin-top: 6%;
}
.payment-panel form {
    margin-left: 14%;
}
.payment-panel .label {
    color: #222222;
    font-weight: 700;
    margin: 10px 0;
    font-size: 1em;
    text-transform: uppercase;
    position: relative;
    top: 2.8em;
    left: 1em;
    width: 12%;
    transition: all 0.3s ease-in-out;
}
.payment-panel .active {
    top: 0;
}
.payment-panel .label .address {
    font-weight: 700;
    text-transform: none;
}
.payment-panel .inputs input {
    height: 45px;
    width: 450px;
    font-size: 1.3em;
}
.payment-button {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 30px;
    margin-top: 5%;
    margin-left: 25%;
    display: inline-block;
    position: relative;
    top: -2px;
}
.payment-button:hover {
    background-color: #7ecbf7;
    border-color: #7ecbf7;
}
.payment-button:active {
    background-color: #7ecbf7;
    border-color: #7ecbf7;
}
.payment-panel i {
    position: relative;
    right: 0.2em;
    top: 0.1em;
}
.payment-panel ul.suggestion-box {
    width: 72.3%;
    border: 1px solid transparent;
    border-top: 0;
    position: absolute;
    padding: 0;
    margin: 0;
    z-index: 1;
    -webkit-transition: all 0.2s ease-in-out;
}
.payment-panel ul.suggestion-box li {
    list-style: none;
}
.payment-panel ul.suggestion-box li a {
    background-color: #203B58;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: block;
    padding: 0.5em;
    font-weight: 700;
    font-size: 1em;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
}
.payment-panel ul.suggestion-box li a:hover {
    background-color: #222;
}
.payment-panel ul.suggestion-box:last-child {
    border-bottom: 0;
}
.payment-panel ul.suggestion-box .suggestion-address {
    font-size: 0.9em;
    font-weight: 300;
    opacity: 0.7;
}
.payment-panel ul.suggestion-box i.icon-right-circled {
    float: right;
    font-size: 1.5em;
    margin: 0.5em;
    color: rgba(255, 255, 255, 0.3);
}
.tab-text {
    color: #fff;
    text-align: center;
    line-height: 1em;
}

/* Balance Panel. */
.balance-panel {
    color: #fff;
    text-align: center;
    position: relative;
    top: 10%;
    line-height: 5em;
}
.balance-panel .spendable-label {
    text-transform: uppercase;
    font-size: 1.5em;
    color: #fff;
    font-weight: 700;
}
.balance-panel .payment-panel-toggle {
    float: right;
    color: #6c757b;
    font-size: 16pt;
}
.balance-panel .payment-panel-toggle:hover {
    color: #eef6fd;
}
.balance-panel .spendable {
    font-size: 6em;
    font-weight: 400;
    color: #222222;
    background-color: #ffffff;
    border-radius: 2px;
    text-shadow: inset 1px 0 0 #555;
    padding: 0 0.2em;
    line-height: 1.5em;
}
.balance-panel .spendable-decimal {
    font-size: 0.7em !important;
}
.balance-panel .non-spendable {
    color: #fff;
    font-size: 1.3em;
    text-transform: uppercase;
}
.balance-panel .non-spendable #data-unconfirmed-balance {
    -webkit-user-select: text;
    cursor: text;
}
.balance-panel .non-spendable .label {
    font-weight: 300;
    color: #fff;
    opacity: 0.7;
}
.balance-panel .staking {
    background: rgba(255, 255, 255, 0.2) url("../../img/pickaxe-white.png") no-repeat left;
    background-position: 0.25em;
}
.sync progress::-webkit-progress-bar {
    background: rgb(33, 34, 34);
    border-radius: 20px;
    padding: 2px;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.8);
}

.sync progress::-webkit-progress-value {
    border-radius: 20px;
    box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
    background:
        -webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
        -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
        rgb(33,166,233);
    background-size: 25px 14px, 100% 100%, 100% 100%;
    -webkit-animation: lines 5s linear 0 infinite;
}
.sync .caption {
    color: rgba(255, 255, 255, 1);
    font-size: 0.7em;
}
.status {
    color: rgba(255, 255, 255, 1);
    font-size: 0.8em;
}

/* Transaction Panel. */
.tab-transaction-content, 
.tab-address-book-content {
    overflow-y: scroll; 
    height: 420px;
    padding: 0 10px;
}
nav.list-controls {
    float: right;
    margin-right: 2px;
    margin: 0.1em 0;
} 
nav.list-controls ul {
    background: -webkit-gradient( linear, right top, left top, 
    color-stop(0, rgba(126,203,247, 0.2)), 
    color-stop(1, rgba(126,203,247, 0.2)) );
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 0;
}
nav.list-controls ul li {
    display: inline-block;
    padding: 0;
}
nav.list-controls li a {
    color: #eee;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 700;
    display: block;
    padding: 0.6em 0.8em;
    margin-left: -0.27em;
    -webkit-transition: all 0.2s ease-in-out;
}
nav.list-controls li:first-child > a {
    border-left: 0;
    margin-left: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

nav.list-controls li:last-child > a {
    border-right: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

nav.list-controls a:hover, a.active {
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
}

.transaction-container, 
.address-book-container {
    background-color: rgba(126,203,247, 0.13);
    color: #fff;
    font-size: 1.3em;
    margin-top: 1em !important;
    line-height: 2em;
    padding: 20px 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
}
.transaction-amount {
    font-size: 1.5em;
    font-weight: 300;
}
.transaction-address {
    font-size: 1.3em;
    font-weight: 300;
    margin-top: 0.7em;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0 7px;
}
.transaction-date, .transaction-confirmation {
    font-size: 0.8em;
    font-weight: 300;
    opacity: 0.5;
    position: relative;
    top: 0.7em;
}
.transaction-confirmation {
    float: right;
}
.tab-transaction-content .sent .transaction-amount,
.tab-transaction-content .received .transaction-amount {
    background-color: #fff;
    display: inline;
    font-weight: 700;
    color: #CE4141;
    padding: 5px 7px;
    border-radius: 2px;
}
.tab-transaction-content .received .transaction-amount {
    color: #589a5b;
}
.transaction-container i {
    font-size: 1em;
    opacity: 0.5;
    position: relative;
    top: 0.1em;
}

/* Address Book Panel. */
.tab-address-book-content .tab-text {
    text-align: left;
}
.tab-address-book-content .address-book-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0 10px;
    margin-top: 0 !important;
}
.address-book-container:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.2);
}
.address-book-name {
    font-weight: 700;
}
.address-book-address {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 3px 10px;
    margin-left: 0.5em;
    font-weight: 300;
    font-size: 0.7em;
    border-radius: 5px;
    position: relative;
}
.address-book-address::after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: rgba(255, 255, 255, 0.2);
    border-width: 7px;
    margin-top: -7px;
}
.address-book-container .button-controls {
    float: right;
    clear: right;
    right: 2em;
    font-size: 0.7em;
    margin: 0.1em 0;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
}
.address-book-container:hover > .button-controls {
    opacity: 1;
}
.address-book-container .button-controls a {
    margin: 0 0.2em;
    opacity: 0.5;
    -webkit-transition: opacity 0.2s ease-in-out;
}
.address-book-container .button-controls a:hover {
    opacity: 0.9;
} 
.tab-address-book-content hr {
    background-color: rgba(255, 255, 255, 0.2);
    height: 1px;
    border: 0;
    margin: 1.7em 0;
}
.tab-address-book-content .address-book-search {
    margin: 1.1em 0;
    display: none;
}
.tab-address-book-content .address-book-search input {

    width: 70%;
    border: 0;
    padding: 0.6em;
}
.tab-address-book-content .address-book-search input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}
.tab-panel {
    background-color: #156692;
    overflow: hidden;
    -webkit-app-region: drag;
    padding: 1em 0.5em;
}
.tab-panel ul {
    padding: 0;
    margin: 0;
}
.tab-panel ul li {
    display: inline;
}
.tab-panel a {
    float: left;
    background-color: #203B58;
    color: #fff;
    text-decoration: none !important;
    padding: 0.5em 1em;
    margin-right: 1em;
    font-size: 0.8em;
    border-radius: 20px;
    -webkit-app-region: no-drag;
    -webkit-transition: background-color 0.2s ease-in-out;
}
.tab-panel a i {
    padding: 0.1em 0.3em;
    position: relative;
    top: 0.1em;
    right: 0.2em;
}
.tab-panel span {
    display: inline;
}
.tab-panel a:hover {
    background-color: #2b2b2b;
    color: #eef6fd;
}
.tab-panel .active {
    background-color: #1ca7ea;
}
.tab-panel .active:hover {
    background-color: #1ca7ea;
}

a.button-send, 
a.button
.payment-button, 
.button-export  {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 700;
    top: -2;
}
a.button-send i {
    position: relative;
    right: 0.4em;
}
a.button-send:hover {
    background-color: #7ecbf7;
    border-color: #7ecbf7;
}
.settings-panel {
    color: #fff;
    padding: 0 10px 10px 20px;
    overflow-y: scroll;
    height: 400px;
}
.settings-panel h2 {
    font-weight: 300;
    border-bottom: 1px solid rgba(255,255,255,0.20);
}
.settings-panel .label {
    position: relative;
    top: 2.2em;
    left: 0.7em;
    z-index: -1;
    font-weight: 700;
    color: #fff;
}
.settings-panel input[type="checkbox"] .checkbox-label {
    margin: 10px !important;
}
.settings-panel input[type="checkbox"] {
    width: 20px;
    height: 20px;
    display: inline;
    padding: 10px;
}
.settings-panel .checkbox-label {
    display: block;
    padding-bottom: 5px;
}
.settings-panel .checkbox-label span {
    position: relative;
    bottom: 3px;
    left: 10px;
}
.settings-panel .settings-themes a {
    display: inline;
    width: 195px;
    margin: 0.1em;
    position: relative;
}
.settings-panel .settings-themes span {
    background-color: rgba(126,203,247, 0.9);
    position: absolute;
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 195px;
    height: 150px;
    font-weight: 700;
    z-index: 2;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
}
.settings-panel .settings-themes a:hover > span {
    opacity: 1;
}
.settings-panel .button-export {
    text-align: center;
    font-size: 0.9em;
    font-weight: 700;
    position: relative;
    top: 0;    
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 1.1em;
    text-transform: uppercase;
    top: -2;   
}
.settings-panel .button-export:hover {
    background-color: #7ecbf7;
    border-color: #7ecbf7;
}
.address-book-container a.ions-on {
    color: #203B58;
}